---
import ThemeToggle from '../interactive/ThemeToggle.astro';
import Navigation from './Navigation.astro';
---

<header class="sticky top-0 z-50 bg-[var(--color-bg-primary)] shadow-sm transition-theme">
  <div class="container mx-auto px-4 h-16 flex items-center justify-between">
    <a href="/" class="text-[var(--color-text-primary)] flex items-center space-x-2 font-serif font-bold text-xl">
      <span>Mikey Roush</span>
    </a>
    
    <div class="flex items-center space-x-4">
      <Navigation />
      <ThemeToggle />
    </div>
  </div>
</header>